/* Layout */
header, footer {
    text-align: center;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
  
  h1, h2, h3, legend {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.5px;
    color: var(--accent);
  }
  
/* Main */
h1 {
    margin: 0.5rem 0;
    font-family: "Righteous", cursive;
    font-size: 2.5rem;
    letter-spacing: 1px;
    color: var(--accent);
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  }
  
  main {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1100px;
    margin: 0 auto;
    z-index: 2;
  }
  

  
  /* Footer */
footer {
    font-size: 0.9rem;
    opacity: 0.8;
    z-index: 2;
  }
  
  /* Prevent any side scrolling */
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }