/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Nunito:wght@400;500&display=swap');
@import 'partials/headerAndFooter.css';
@import 'partials/artistSearch.css';
@import 'partials/playlist.css';
@import 'partials/global.css';
@import 'partials/form.css';







